.Footer {
    position: absolute;
    text-align: center;
    left: 49.6%;
    bottom: -3.5%;
    transform: translateX(-50%) translateY(-50%);
}

/* Elements */
.cp {
    font-size: calc(0.13rem + 2vmin);
    font-family: 'Source Sans Pro'
}
.alaa {
    font-weight: bold;
    color: #ffcf32de;
    font-style: bold;
    transition: 0.35s ease-in-out all;
    cursor: pointer;
}

.emsi {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffcf32de;
}

/* Hovers */
.alaa:hover {
    color: #ffcf32;
    text-decoration: underline;
}
.license:hover {
    color: #ffcf32;
    text-decoration: underline;
    transition: 0.35s ease-in-out all;
    cursor: pointer;
}
.emsi:hover {
    color: #ffcf32;
    text-decoration: underline;
    transition: 0.35s ease-in-out all;
    cursor: pointer;
}