/* Classes */
.logo_Container { 
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
}

.logo {
    width: 50vmin;
    display: block;
    animation: float 2s ease-in infinite;
}

.button_Text {
    padding: 10px 20px;
    font-style: italic;
    font-size: calc(10px + 2vmin);
    text-transform: uppercase;
    transition: 0.35s ease-in-out all;
}

.button_Container {
    display: block;
    position: absolute;
    left: 49.6%;
    top: 70%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 15;
    border: 3px solid #ffffffaf;
    border-radius: 30px;
    transition: 0.35s ease-in-out all;
    cursor: pointer;
}

.footer_Container {
    position: absolute;
    text-align: center;
    left: 49.6%;
    bottom: -3.5%;
    transform: translateX(-50%) translateY(-50%);
}

.cp {
    font-size: calc(3px + 2vmin);
    font-family: 'Source Sans Pro'
}
.alaa {
    font-weight: bold;
    color: #ffcf32;
    font-style: bold;
    transition: 0.35s ease-in-out all;
    cursor: pointer;
}

.emsi {
    text-transform: uppercase;
    font-weight: bold;
    color: #06a53e;
}

/* Events */
.button_Text:hover {
    color: #f3c52e;
}
.button_Container:hover {
    background-color: rgba(0, 0, 0, 0.479);
    border: 3px solid #ffffffd5;
}
.alaa:hover {
    color: #0debaf;
    text-decoration: underline;
}
.license:hover {
    color: #06a77d;
    text-decoration: underline;
    transition: 0.35s ease-in-out all;
    cursor: pointer;
}
.emsi:hover {
    color: #057e2f;
    text-decoration: underline;
    cursor: pointer;
}

/* Animations */
@keyframes float {
	from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 7px); }
    to   { transform: translate(0, -0px); }
}

/* Fork on Github */
.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}
.octo-arm {
    transform-origin: 130px 106px;
}
.octo {
    fill:#fff; 
    color:#151513; 
    position: absolute; 
    top: 0; 
    border: 0; 
    left: 0; 
    transform: scale(-1, 1);
}
@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}