.Main {

}

/* Body Logo */
.logo_Container { 
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translateX(-50%) translateY(-50%);
}

.logo {
    width: 50vmin;
    display: block;
    animation: float 2s ease-in infinite;
}
/* Start Button */
.button_Container {
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 61.5%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 3s ease-in-out;
}
.MainButton {
    padding: 0.5rem 5rem;
    font-size: calc(1.2rem + 2vmin);
    background-color: transparent;
    color: rgba(255, 255, 255, 0.733);
    font-family: 'Lato';
    font-weight: 400;
    cursor: pointer;
    display: block;
    transition: all .2s ease-in-out;
    border: 3.4px solid #ffffff96;
    border-radius: 30px;
}
.MainButton:hover {
    border: 3.4px solid #ffffff;
    border-radius: 32px;
    color: #ffffff;
    background-color: rgba(54, 54, 54, 0.205);
}


/* Animations */
@keyframes float {
	from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 7px); }
    to   { transform: translate(0, -0px); }
}



/* Popup form */
.MainPopup {
    font-size: calc(0.3rem + 2vmin);
    font-family: 'Antic';
    color: black;
}
.close {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    text-align: center;
    padding-left: 2px;
    padding-bottom: 1px;
    width: 3.2rem;
    height: 2.9rem;
    display: block;
    right: -1px;
    top: -1px;
    line-height: 20px;
    background: #ff656500;
    color: black;
    transition: all 0.1s ease-in-out
}
.close:hover {
    background-color: rgb(255, 62, 62);
    color: white;
}
.popup-content {
    border-radius: 0.5rem;
    max-width: calc(40rem - 2vmin)
}
.login_Title {
    /*font-size: 3.5rem;*/
    font-family: 'Source Sans Pro';
    display: inline-block;
    padding: 2rem 0 0.5rem;
    color: #272727;
    transition: all 1s 
}