.About {
    font-size: calc(0.3rem + 2vmin);
    font-family: 'Antic';
    color: black;
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    color: rgba(42, 42, 42, 0.644);
    width: 5rem;
    opacity: 0.5
}
.question_Container {
    z-index: 2;
    position: absolute;
    left: 96%;
    top: 95%;
    transform: translateX(-50%) translateY(-50%);
    transition: all 3s ease-in-out;
    cursor: pointer;
}
.question {
    width: 5vmin;
    display: block;
    transition: all .2s ease-in-out;
}
.question:hover {
    transform: scale(1.1)
}
.question:active {
    transform: scale(1.2);
    fill: rgb(251, 47, 47);
}